/*!
 * Start Bootstrap - Shop Item HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}

.like {
    background: url('../images/like_sprite.png') no-repeat 0 0;
    width: 112px;
    height: 112px;
    display: inline-block;
    color: transparent;
}

.like:hover {
    background: url('../images/like_sprite.png') no-repeat -128px 0;
}

.like.active {
     background: url('../images/like_sprite.png') no-repeat -128px 0;
}