{% extends 'mainTemplate_new.html' %}
{% block body_block %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Categories</h1>
        </div>
    </div>
    <form action="{% url 'site_admin:manage_category' %}" method="post">
        {% csrf_token %}
        {{ category_form.as_p }}
        <button type="submit">Add</button>
    </form>
    <br/>
    {% for category in categories %}
        <p>
            {{ category.name }}
        </p>
    {% endfor %}
{% endblock %}