{% extends "mainTemplate_new.html" %}
{% block body_block %}
        <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Contacts</h1>
        </div>
    </div>
    <h1>And now you exactly know who you have to beat on the fingers for this code =)</h1>
    <p>+79274205286</p>
    <p>praim199524@gmail.com</p>
{% endblock %}