{% extends 'mainTemplate_new.html' %}
{% load static %}
{% block title %} Main page title {% endblock %}
{% block custom_head %}
    <link href="{% static "css/main-page.css" %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body_block %}
    <div class="row carousel-holder">

        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    {% for action in actions %}
                        <div class="item {% if forloop.counter0 == 0 %}active {% endif %}">
                            <a href="{{ action.action_url }}">
                                <img class="slide-image" src="{{ action.imageUrl }}">
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Best selling goods
            </h3>
        </div>
        {% for good in goods %}
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/320x150" alt="">

                    <div class="caption">
                        <div class="row">
                            <div class="col-md-9">
                                <strong><a href="{% url 'good_page' good.id %}">{{ good.name|slice:"50" }}</a>
                                </strong>
                            </div>
                            <div class="col-md-3">
                                <h4 class="pull-right">${{ good.price|stringformat:"d" }}</h4>
                            </div>
                        </div>
                        <p>{{ good.longName }}</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">15 reviews</p>

                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}