{% extends 'mainTemplate_new.html' %}
{% block body_block %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Add good</h1>
        </div>
    </div>
    <form action="{% url 'add_good' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in good_form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}

        <input type="submit" value="save"/>

    </form>
{% endblock %}