{% extends "mainTemplate_new.html" %}
{% block title %}
    Your cart page
{% endblock %}
{% block body_block %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Cart
                <small id="cart-title">{{ order.items.all|length }}</small>
            </h1>
        </div>
    </div>
    {% if not order or not order.items.all %}
        Your cart is empty. Please, go to <a href="{% url 'catalog' %}">catalog</a> and add some
    {% else %}
        <table class="table table-hover" width="920" border="0" cellspacing="0" cellpadding="0">
            <thead>
            <tr>
                <th>Good name</th>
                <th>Good price</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for item in order.items.all %}
                <tr>
                    <td><a href="{% url 'good_page' item.id %}">{{ item.name }}</a></td>
                    <td>{{ item.price }}</td>
                    <td><a href="{% url 'delete_from_cart' item.id %}">Delete from cart</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="pull-right">
            <a href="{% url 'make_order' %}"><button class="btn btn-lg btn-success">Order</button></a>
            </div>
        </div>
    {% endif %}
{% endblock %}