{% if good_list %}
    <div class="row">
        {% for goodItem in good_list %}
            {% if forloop.counter0|divisibleby:3 %}
                </div>
                <div class="row">
            {% endif %}
            {% include "shopCatalog/good_item_catalog.html" with good=goodItem %}
        {% endfor %}
        </div>
{% else %}
    <h3 class="text-center">No goods</h3>
{% endif %}