{% extends 'mainTemplate_new.html' %}
{% load static %}
{% block custom_head %}
    <link href="{% static "css/catalog.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "ui/jquery-ui.min.css" %}" rel="stylesheet" type="text/css">

    <script src="/static/ui/jquery-ui.min.js"></script>
    <script src="/static/js/history.min.js"></script>
    <script src="/static/js/catalog.js"></script>

{% endblock %}
{% block custom_left_block %}
    <div class="row">
        <p>
            <label for="amount">Price range:</label>
            <input type="text" id="amount" readonly style="border:0;font-weight:bold;"
                   value="${{ c_price_l }} - ${{ c_price_r }}">
        </p>

        <div id="slider-range"></div>

    </div>
{% endblock %}

{% block body_block %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Goods catalog
                <small id="catalog-title"></small>
            </h1>
        </div>
    </div>

    <div class="js-catalog-body">
        {% include 'shopCatalog/catalog_part.html' with good_list=good_list %}
    </div>
    <!-- Standard button -->
    <button type="button" class="btn btn-default btn-lg center-block" id="load_more">Load more</button>
{% endblock %}