<div class="col-md-4 portfolio-item js-good" data-id="{{ good.id }}">
    <a href="{% url 'good_page' good.id %}">
        {% if good.image %}
            <img class="img-responsive" src="{{ good.image.url }}" alt="">
        {% else %}
            <img class="img-responsive" src="http://placehold.it/700x400" alt="">
        {% endif %}

    </a>

    <h3>
        <a href="{% url 'good_page' good.id %}">{{ good.name }}</a>
    </h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna
        varius vitae.</p>
</div>