{% extends 'mainTemplate_new.html' %}
{% block body_block %}

    <h1>Оформление заказа</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Category</th>
            <th>Good Name</th>
            <th>Good count</th>
            <th>Full price</th>
        </tr>
        </thead>
        <tbody>
        {% for item in order.items.all %}
            <td>
                {{ item.category.name }}
            </td>
            <td>
                {{ item.longName }}
            </td>
            <td>
                1
            </td>
            <td>
                {{ item.price }}
            </td>
        {% endfor %}
        </tbody>
    </table>

    <form action="{% url 'approve_order' %}" method="post">
        {% csrf_token %}
        <p>
            Address: <input type="text" name="address"/>
        </p>

        <p>
            Payment method: <input type="text" name="payment"/>
        </p>
        <button type="submit">Make order</button>
    </form>

    Here will be good full info
{% endblock %}