{% extends 'mainTemplate_new.html' %}
{% load static %}
{% block custom_head %}
    <link href="{% static "css/shop-item.css" %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/static/js/good.js"></script>
{% endblock %}
{% block body_block %}

    <div class="thumbnail">
        {% if good.image %}
             <img class="img-responsive" src="{{ good.image.url }}" alt="">
        {% else %}
            <img class="img-responsive" src="http://placehold.it/800x300" alt="">
        {% endif %}


        <div class="caption-full">
            <div class="pull-right">
                <h4>${{ good.price }}</h4>
                {% if good.isAvailable and not in_cart %}
                    <a href="{% url 'add_to_cart' good.id %}">
                        <button class="btn btn-md btn-primary">Buy</button>
                    </a>
                {% endif %}
                {% if not good.isAvailable %}
                    <button class="btn btn-md btn-danger disabled" disabled="true">Not available</button>
                {% endif %}
                {% if in_cart %}
                    <a href="{% url 'cart' %}" target="_blank">
                        <button class="btn btn-md btn-success">In cart</button>
                    </a>
                {% endif %}
            </div>
            <h4><a href="{% url 'good_page' good.id %}">{{ good.name }}</a>
            </h4>

            <p>{{ good.longName }}</p>

            <p>Want to make these reviews work? Check out
                <strong><a href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">this
                    building a review system tutorial</a>
                </strong>over at maxoffsky.com!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit
                anim id est laborum
                {{ good.description }}
            </p>
        </div>
        <div class="ratings">
            <p class="pull-right">3 reviews</p>

            <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                4.0 stars
            </p>

            <p id="like-p" class="{% if likes_count == 0 %} hidden {% endif %}">
                <span class="glyphicon glyphicon-heart"></span>
                <span class="" id="like-count">{{ likes_count }}</span> likes
            </p>
        </div>
    </div>


    <div class="well">
        <div class="col-md-5">
            <a id="like-btn"
               {% if not user.is_authenticated %}data-auth="{% url 'login' %}?next={% url 'good_page' good.id %}"{% endif %}
               href="{% url 'like_good' good.id %}" class="like js-like {% if is_liked %}active{% endif %}"
               data-id="{{ good.id }}"></a>
        </div>
        <div class="text-right">
            <a class="btn btn-success" id="review-btn"
               {% if not user.is_authenticated %}data-auth="{% url 'login' %}?next={% url 'good_page' good.id %}"{% endif %}
                    >Leave a Review</a>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                Anonymous
                <span class="pull-right">10 days ago</span>

                <p>This product was great in terms of quality. I would definitely buy another!</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                Anonymous
                <span class="pull-right">12 days ago</span>

                <p>I've alredy ordered another one!</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                Anonymous
                <span class="pull-right">15 days ago</span>

                <p>I've seen some better than this, but not at this price. I definitely recommend this item.</p>
            </div>
        </div>

        <hr>
        {% for review in reviews %}
            <div class="row">
                <div class="col-md-12">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    {{ review.user.login }}
                    <span class="pull-right">{{ review.date }}</span>

                    <p>{{ review.text }}</p>
                </div>
            </div>

            <hr>
        {% endfor %}

    </div>


    <div id="review_modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Leave review</h4>
                </div>
                <div class="modal-body">
                    <form action="{% url 'leave_review' good.id %}" method="POST">
                        {% csrf_token %}
                        {{ review_form.as_p }}
                        <div class="row">
                            <div class="col-md-10">
                                <button type="submit" class="btn btn-sm btn-success pull-right">Add</button>
                            </div>

                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $("#review-btn").on('click', function () {
            $("#review_modal").modal('show');
            return false;
        });
    </script>
{% endblock %}