{% extends "mainTemplate_new.html" %}
{% block body_block %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Create an account</h1>
        </div>
    </div>

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create an account">
    </form>
{% endblock %}