{% extends 'mainTemplate_new.html' %}
{% block body_block %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Your watched good list</h1>
        </div>
    </div>
    <div class="row">
        {% for goodItem in goods %}
            {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
            {% else %}
                {% include "shopCatalog/good_item_catalog.html" with good=goodItem %}
            {% endif %}
        {% endfor %}
        </div>

{% endblock %}